# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [8]:
num=[1,2,3,4]
num

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [6]:
# Method 1 
num.remove(3)
num

[1, 2, 4]

In [9]:
# Method 2
num.pop(2)
num

[1, 2, 4]

In [14]:
# Method 3
n=[1,2,3,4] 
n.pop(-2)
n

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [16]:
l=[2,3,4]
l.append(1)
l

[2, 3, 4, 1]

**`Question:` Insert "two-and-half" in 2nd position**

In [21]:
l.insert(2,'two-and-half')
l

[2, 3, 'two-and-half', 4, 1, 2]

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [48]:
# CODE HERE
phrase = "Don't panic!"
li=list(phrase)
li

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

*convert into list*

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [49]:
li.remove("'")
li.remove("!")
new_li=li
li

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [50]:
# CODE HERE
#I WROTE CODE AS PER THE ABOVE QUESTION , BUT BELOW ANSWER AND MY ANSWER ARE NOT SAME,BECAUSE IN BELOW ANSWER THEY DIDN'T REMOVED THE'n'.
li.remove("p")
li.remove("a")
li.pop(-3)
li.remove("D")
li.extend(['p','a','n','D'])
li

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [52]:
# CODE HERE
lis_new=['p','a','n','D','a']
a=''
for i in lis_new:
    a=a+i
a

'panDa'

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [58]:
# CODE HERE
nums=(31,24,35,85)
print("data type",type(nums))
nums

data type <class 'tuple'>

(31, 24, 35, 85)

data type <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [59]:
# CODE HERE
n=list(nums)
n.remove(35)
t=tuple(n)
t

(31, 24, 85)

(31, 24, 85)

**Extent** tuple (85,19)

In [61]:
# CODE HERE
t=list(t)
t.extend([85,19])
t=tuple(t)
t

(31, 24, 85, 85, 19)

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [62]:
# CODE HERE
tpl = ('i','n''n','0')
'i' in tpl

True

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [71]:
# CODE HERE
lis = ['Hello',100,[],'innomatics']
lis[2]=[200]
lis

['Hello', 100, [200], 'innomatics']

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [86]:
# CODE HERE
tpl = ("Innomatics")
a=''
a=tpl[::-1]
l=tuple(a)
l

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [87]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [129]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

print([t[0:3] + (100,) for t in tpl])

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [128]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

print([t[:-1] + (100,) for t in tpl])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [145]:
# CODE HERE
str='5 2 3 6 6 5'
type(str)
a=str.split(" ")
sorted(a)
uni=[]
for i in a:
    if i not in uni:
        uni.append(i)
f=sorted(uni)
print(f[-2])

5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [148]:
# CODE HERE
l=[12,24,35,70,88,120,155]
l.pop(0)
l.pop(4)
l.pop(-2)
l

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [158]:
tp=(1,2,3,4,5,6,7,8,9,10)
tp1=tp[:5]
tp2=tp[5:]
print(tp1)
print(tp2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [160]:
tp=(1,2,3,4,5,6,7,8,9,10)
tp1=[]
for i in tp:
    if i%2==0:
        tp1.append(i) 
print(tuple(tp1))

(2, 4, 6, 8, 10)

In [ ]:
li=[1,2]
li.

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

# Solution
List and tuple both are data strucures in python. 
Tuple is default data structure in python and immutable. A tuple is order collection of items in python. In tuple we count() and index() methods(only two methods). We cannot modify the tuple. Allows duplicate elements inside the items.
List is order collection of items in python and changeable.List allows duplicate elements.We have alot of methods inside the list. Some of them are find(),count(),pop(),remove(),append(),extent(),copy(),clear(),index(),insert().
The main difference between tuple and list are:
1> Lists are mutable , Tuples immutable.
2> Tuple is faster that list.
3>Tuples are stored in a single block of memory. Lists are allocated in two blocks: the fixed one with all the Python object information and a variable sized block for the data.It is the reason creating a tuple is faster than List.
4> Lists has more methods when compare to tuples.

### 2. Explain the difference between append() and extend() with examples

# Solution
append(): This is used to add one element or item to existing list.Take only one argument and add new element at end of the list.
extend(): This is used to add more than one element or item inside the list.Add new elements at end of the list.

In [164]:
#EXAMPLE FOR APPEND AND EXTENT IN LIST
lis_new=[1,2,3,4,67,34]
lis_new.append(23)
lis_new.extend([45,67,89])
lis_new

[1, 2, 3, 4, 67, 34, 23, 45, 67, 89]

### 3. Explain the difference between pop() and remove() with examples

# Solution
pop(): This method uses index of an element to remove the element from list.Pop take -1 as defalt index.
remove() : This method take value of element as input argument to delete from list.

In [170]:
l=[1,2,3,4,5,7,9,10,11,12,13,15]
l.pop()
l.pop(3)
l.remove(9)
l

[1, 2, 3, 5, 7, 10, 11, 12, 13]

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)